{
  admin off
}

{$PROTOCOL}://{$INFLUX_DOMAIN} {
    handle /query {
        # Remove credentials in query parameters if they exist. Influxdb favors those over header credentials
        uri query -u
        uri query -p

        reverse_proxy influxdb:8086 {
            header_up Authorization "Basic cHVibGljOnB1YmxpYw=="  # public:public credentials, overwrite any previous Authorization header.
        }
    }

    handle {
        respond 403
    }
}
